<h2>Footer</h2>
<template>
    <div class="item">
      <tr class="itemRow">
        <td class="itemId"></td>
        <td class="itemName"></td>
        <td class="itemBlockNo"></td>
        <td class="itemCategory"></td>
        <td class="itemSupplier"></td>
        <td class="itemRcvdDate"></td>
        <td class="itemReciever"></td>
      </tr>
    </div>
  </template>
</body>
</html>
